* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    max-width: 1120px;
    padding: 0 48px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    line-height: 120%;
    color: #222;
    margin-bottom: 40px;
}

a, img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea, button, .button {
    display: block;
    outline: none;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s;
}

button, .button {
    width: fit-content;
    padding: 12px 24px;
    background: #222;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}