@import 'base';

header {
    padding: 16px 0;
    background: #222;

    .menu {
        display: flex;
        list-style: none;

        li {
            margin-right: 32px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                font-size: 20px;
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

main {
    flex: 1;
    padding: 64px 0;
}

.post {
    display: flex;
    padding: 24px;
    margin-bottom: 32px;
    border: 1px solid #222;

    @media only screen and (max-width: 767px) {
        display: block;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &__image {
        width: 300px;
        height: 200px;
        margin-right: 32px;
        background: #eee;
        overflow: hidden;

        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 16px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        .post-title {
            width: fit-content;
            margin-bottom: 16px;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin-bottom: 16px;
        }

        .button {
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 40px;

    li {
        margin-right: 16px;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover:not(.disabled) {
            text-decoration: underline;
        }

        &.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
}

.post-page {
    &__image {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
        background: #eee;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        margin-bottom: 40px;
    }
}

form {
    input, textarea {
        width: 100%;
        padding: 16px;
        font-size: 16px;
        margin-bottom: 24px;
        border: 1px solid #222;

        &:hover, &:focus {
            box-shadow: 0px 5px 30px 0px rgba(100, 100, 111, 0.4);
        }
    }
}

.result-message {
    margin-top: 24px;
    font-size: 24px;

    &.success {
        color: green;
    }

    &.fail {
        color: red;
    }
}

.error-page {
    flex: 1;
    display: flex;
    align-items: center;
    
    h1 {
        text-align: center;
        font-size: 100px;
    }
}

footer {
    padding: 16px 0;
    background: #222;
    color: #fff;
}